PORT=5001
MONGODB_URI=mongodb://localhost:27017/scolaris
JWT_SECRET=votre_secret_jwt_tres_long_et_complexe
ENCRYPTION_KEY=scolaris_secret_key_32_chars_long!! # Doit faire 32 caractères

# Email Service
EMAIL_SERVICE=gmail
EMAIL_USER=votre-email@gmail.com
EMAIL_PASS=votre-mot-de-passe-application
IA_SERVICE_URL=https://votre-service-ia.onrender.com
