PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/scolaris_db
JWT_SECRET=remplace_par_un_secret_tres_fort
CLIENT_URL=http://localhost:5173

# Configuration Email
EMAIL_USER=votre-email@gmail.com
EMAIL_PASS=votre-mot-de-passe-application-16-lettres

# Configuration Cloudinary (Optionnel pour le stockage cloud)
CLOUDINARY_CLOUD_NAME=dbior6pkb
CLOUDINARY_API_KEY=ta_cle_api
CLOUDINARY_API_SECRET=ton_secret_api
